@import './../../../../SCSS/index.scss';

.submitButton {
	color: $main-dark !important;
	font-weight: 500 !important;
	width: 290px;
	height: 60px;
	border-radius: $border-radius-button;
	&:active,
	&:hover {
		color: $main-dark !important;
	}
}