.carousel {
	display: flex;
	align-self: center;
	width: 1200px;
	height: 320px;
	margin-bottom: 40px;
}
.carouselContainer {
	position: relative !important;
}
.carousel {
	.slick-next {
		&::after {
			content: './CustomArrow/up.svg';
		}
	}
	.slick-prev {
		&::after {
			content: './CustomArrow/down.svg';
		}
	}
}