.prevArrow {
	opacity: 1 !important;
	position: absolute !important;
	inset-inline-start: 95% !important;
	margin-block-start: 42% !important;
}

.nextArrow {
	opacity: 1 !important;
	position: absolute !important;
	inset-inline-start: 95% !important;
	margin-block-end: 42% !important;
}
.prevArrow,
.nextArrow {
	z-index: 10 !important;
}
