@import '../../../SCSS/index';

.calc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;

  .pLabel {
    color: #000000;
    font-style: italic;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }

  .sliderContainer {
    width: 100%;

    margin-top: 20px;

    .ant-tooltip-inner {
      color: #000000;
    }

    label {
      font-style: italic;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
    }

    .slider {
      margin: 50px 0;
    }
  }

  .inputsAndSwitches {
    display: flex;

    .counts {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr;

      .dogsCount {

      }

      label {
        font-style: italic;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
      }

      .inputGroup {
        .inputButton {
          margin: 0 5px;
        }
      }
    }

    .swithces {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .switchContainer {
        display: flex;
        gap: 20px;
      }

      .switchInfo {
        color: $main-veryLight;
      }
    }
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .summaryContainer {
      .summaryValue {
        font-style: italic;
        color: $yellow;
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;
      padding-top: 25px;

      .linkButton {
        text-transform: uppercase;
      }
    }
  }
}


