@import '../../../SCSS/variables.scss';
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	gap: 53px;
	height: 300px;
	width: 250px;
	border: 2px solid $main-veryLight;
	border-radius: 24px;
	background-color: #ffffff;

	.photoContainer {
		position: relative;
		width: 140px;
		height: 140px;
		border-radius: 100%;
		border: none;
		background-color: #bbbbbb;
		margin-bottom: 13px;
		cursor: pointer;
		&:after {
			position: absolute;
			content: ' ';
			display: block;
			top: 70px;
			left: 40px;
			width: 60px;
			height: 1px;
			background-color: #6a6a6a;
		}
		&::before {
			rotate: 90deg;
			position: absolute;
			content: ' ';
			display: block;
			top: 70px;
			left: 40px;
			width: 60px;
			height: 1px;
			background-color: #6a6a6a;
		}
	}
	.img {
		z-index: 3;
		width: 140px;
		height: 140px;
		top: 0px;
		left: 0px;
		margin-bottom: 13px;
		object-fit: cover;
		border-radius: 100%;
	}
	.par{
		font-size: 20px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -0.02em;
		text-align: center;
		color: #BBBBBB;
	;
	}
	.title {
		font-size: 20px;
		text-align: center;
		font-weight: 500;
		line-height: 22.3px;
		letter-spacing: -0.02em;
		margin-bottom: 15px;
	}
	.buttonContainer {
		width: 214px;
		height: 57px;
		border-radius: 18px;
	}
}
//=======
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  padding-top: 20px;
//  height: 300px;
//  width: 250px;
//  border: 2px solid $main-light;
//  border-radius: 24px;
//  background-color: #ffffff;
//  .photoContainer {
//    position: relative;
//    width: 140px;
//    height: 140px;
//    border-radius: 100%;
//    border: none;
//    background-color: #bbbbbb;
//    margin-bottom: 13px;
//    cursor: pointer;
//    &:after {
//      position: absolute;
//      content: ' ';
//      display: block;
//      top: 70px;
//      left: 40px;
//      width: 60px;
//      height: 1px;
//      background-color: #6a6a6a;
//    }
//    &::before {
//      rotate: 90deg;
//      position: absolute;
//      content: ' ';
//      display: block;
//      top: 70px;
//      left: 40px;
//      width: 60px;
//      height: 1px;
//      background-color: #6a6a6a;
//    }
//  }
//  .img {
//    z-index: 3;
//    width: 140px;
//    height: 140px;
//    top: 0px;
//    left: 0px;
//    margin-bottom: 13px;
//    object-fit: cover;
//    border-radius: 100%;
//  }
//  .title {
//    font-size: 20px;
//    text-align: center;
//    font-weight: 500;
//    line-height: 22.3px;
//    letter-spacing: -0.02em;
//    margin-bottom: 15px;
//  }
//  .buttonContainer {
//    width: 214px;
//    height: 57px;
//    border-radius: 18px;
//  }
//}

