@import './../../SCSS/index.scss';
.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $bg-color_forth;
  border-radius: 20px;
}

.checkbox {
  display: none; // скрываем настоящий input
  opacity: 0;
}

.label {
  width: 132px;
  height: 78px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 5px;
  transition: border-color 0.3s;
}

.label.checked {
  background-color: $main-veryLight;
  border-radius: 20px;
}

.image {
  height: 100%;
  object-fit: cover;
}
