@import './../../SCSS/index.scss';
.wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}
.modal {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 774px;
  height: 654px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 27px;
}
.title {
  @include title48px-500-secondary;
  margin-bottom: 20px;
}
.subTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.6px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #9a74bf;
  margin-bottom: 28px;
}
.button {
  position: absolute;
  top: -14px;
  right: -9px;
  background-color: inherit;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.catContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
