.LongFormButton {
  width: 214px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: 700;
    font-size: 25px;
    line-height: 46px;
    letter-spacing: -0.04em;
  }
}