.pets{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding-bottom: 10px;

  .choose{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}