@import './../../../SCSS/index.scss';
.howWork {
	width: 100%;
	display: flex;
	justify-content: center;
	.content {
		width: 88.88%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		border-radius: 20px;
		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 61px;
			width: 100%;
			height: 260px;
			background-color: $main-veryLight;
			border-radius: 20px 20px 0px 0px;
			.title {
				@include title48px-500-secondary;
				margin-bottom: 24px;
				span {
					color: $light-green;
					@include title48px-700-italic-primary;
				}
			}
			.text {
				width: 874px;
				text-align: center;
				@include mainText24-500-primary;
				span {
					color: $white;
					@include mainText24-500-primary;
				}
			}
		}
		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 980px;
			background-color: $font-color-light;
			padding: 104px 80px 104px 80px;
			box-shadow: 4px 4px 4px 0px #0000001a;

			.cards {
				display: grid;
				width: 1139px;
				height: 652px;

				grid-template: repeat(2, 1fr) / repeat(3, 1fr);

				border-radius: 0px 0px 20px 20px;
				.item {
					display: flex;
					flex-direction: column;
					align-items: center;
					.circle {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 210px;
						height: 210px;
						border-radius: 100%;
						background-color: $light-green;
						margin-bottom: 12px;
						.bottle {
							width: 129.99px;
							height: 160.24px;
							&:hover {
								width: 144px;
								height: 174px;
								content: url('/assets/icons/Home/bottle.gif');
							}
						}
						.face {
							width: 121px;
							height: 155px;
							&:hover {
								width: 143px;
								height: 213px;
								content: url('/assets/icons/Home/face.gif');
							}
						}
						.phone {
							width: 140px;
							height: 140px;
							&:hover {
								width: 173px;
								height: 174px;
								content: url('/assets/icons/Home/phone.gif');
							}
						}
						.dog {
							width: 107px;
							height: 158px;
							&:hover {
								width: 145px;
								height: 213px;
								content: url('/assets/icons/Home/dog.gif');
							}
						}
						.cat {
							width: 178px;
							height: 131px;
							object-fit: fill;
							&:hover {
								width: 199px;
								height: 143px;

								content: url('/assets/icons/Home/cat.gif');
							}
						}
						.together {
							width: 110.35px;
							height: 137.05;
							&:hover {
								width: 144.35px;
								height: 187.05;
								content: url('/assets/icons/Home/together.gif');
							}
						}
					}
					.description {
						width: 275px;
						font-size: 24px;
						font-weight: 400;
						line-height: 28.32px;
						letter-spacing: -0.02em;
						text-align: left;
					}
				}
			}
			.buttons {
				display: flex;
				gap: 20px;
				width: 600px;
			}
		}
	}
}
