@import '../../../SCSS/variables.scss';

.order{
  border: solid 2px $main-veryLight;
  width: 739px;
  height: 180px;
  padding: 21px 40px 21px 40px;
  gap: 16px;
  border-radius: 24px;

  display: flex;

  &:hover{
    border-color: $border-order;
  }

  .status{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
