.container {
  position: relative;
  width: 100%;
  height: 450px;
  display: grid;
}

.stackContainer {
  position: relative;
  width: auto;
  height: 350px;
  overflow: hidden;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cardWrapper {
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.navigation {
  margin-top: 20px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.navButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.navButton img {
  width: 24px;
  height: 24px;
}
