@import './../../SCSS/index.scss';
.headerMain {
	width: 1440px;
	height: 64px;
	display: flex;
	background-color: #fdf7e7;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding-left: 189px;
	padding-right: 138px;
	transition: background-color 0.3s;
	&.scrolled {
		background-color: $white;
	}
	.leftMenu {
		width: 100%;
		.list {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			gap: 40px;
			list-style: none;
			.item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				.link {
					font-size: 14px;
					line-height: 16.52px;
					font-weight: 500;
					text-decoration: none;
					color: $black;
				}
			}
		}
	}
	.rightMenu {
		width: 100%;
		.list {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			gap: 40px;
			list-style: none;
			.item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				.link {
					font-size: 14px;
					line-height: 16.52px;
					font-weight: 500;
					text-decoration: none;
					color: $black;
				}
			}
			.headerButton {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				min-width: 211px;
				height: 44px;
				background-color: $white;

				font-size: 16px;
				font-weight: 500;
				line-height: 18.88px;

				border-radius: $border-radius-button;
				border: 2px solid $yellow;
				cursor: pointer;
			}
		}
	}
}
