@import './../../../SCSS/variables.scss';
.error {
  color: #333333;
}
.form {
  margin-top: 24px;
  min-height: 305px;
  width: 413px;
}
.input {
  border-radius: 18px;
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
