@import './../../../SCSS/index.scss';

.skills {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 120px;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.skillsDog,
.skillsCat {
	display: flex;
	flex-direction: column;
	width: 540px;
	background-color: #f6f4f9;
	border-radius: 0px 0px 20px 20px;
}
.photo {
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 60px;
}
.wrapDog {
	margin-left: 77px;
	position: relative;
}
.wrapCat {
	margin-left: 113px;
	position: relative;
}
.title {
	width: 271px;
	height: 94px;
	margin-bottom: 60px;
	@include title40px-500-italic-primary;

	.accent {
		&_dog {
			color: $main-light;
			@include title40px-700-italic-primary;
		}
		&_cat {
			color: $yellow;
			@include title40px-700-italic-primary;
		}
	}
}
.itemText {
	width: 386px;
	@include mainText24-400-primary;
	margin-bottom: 30px;

	.accentSkill {
		@include accentText24-700-italic-primary;
	}
}
.arrowPink {
	position: absolute;
	top: -37px;
	right: 5px;
	height: 325px;
	width: 244px;
}
.arrowOrange {
	position: absolute;
	top: 61px;
	left: -112px;
	height: 140px;
	width: 140px;
}
.arrowOrangefly {
	position: absolute;
	top: 179px;
	left: -92px;
	height: 70px;
	width: 85px;
}
