@import './../../../SCSS/index.scss';

.skills {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 120px;
}
.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.skillsDog,
.skillsCat {
	display: flex;
	flex-direction: column;
	width: 540px;
	background-color: #f6f4f9;
	border-radius: 0px 0px 20px 20px;
}
.photo {
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 60px;
}
.title {
	width: 271px;
	height: 94px;
	margin-left: 73px;
	margin-bottom: 55px;
	font-size: 40px;
	font-style: italic;
	font-weight: 500;
	line-height: 47.21px;
	letter-spacing: -0.02em;
	text-align: left;
	.accent {
		&_dog {
			color: $main-light;
			font-size: 40px;
			font-style: italic;
			font-weight: 700;
			line-height: 47.21px;
			letter-spacing: -0.02em;
			text-align: left;
		}
		&_cat {
			color: $yellow;
			font-size: 40px;
			font-style: italic;
			font-weight: 700;
			line-height: 47.21px;
			letter-spacing: -0.02em;
			text-align: left;
		}
	}
}
.itemText {
	width: 386px;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.32px;
	letter-spacing: -0.02em;
	text-align: left;
	margin-bottom: 30px;
	margin-left: 77px;
	.accentSkill {
		font-size: 24px;
		font-style: italic;
		font-weight: 700;
		line-height: 28.32px;
		letter-spacing: -0.02em;
		text-align: left;
	}
}
