.slide-content {
  padding: 20px;
  background-color: #fdfbf8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next,
.swiper-button-prev {
  color: #6e45e2;
}

.swiper-pagination-bullet-active {
  background-color: #6e45e2;
}