.account_container {
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 50px;
	width: 100%;
	margin-top: 290px;
	margin-bottom: 100px;

	.sidebar {
		display: flex;
		justify-content: center;
	}
	.outlet {
		//width: 740px;
	}
}
