@import './../../SCSS/index.scss';
.headerTop_container {
	display: flex;
	justify-content: space-between;
	width: 1440px;
	height: 40px;
	padding: 0 60px;
	background-color: $main-light;

	.leftBlock {
		display: flex;
		align-items: center;
		.link {
			text-align: center;
			color: $white;
			font-size: 14px;
			font-weight: 500;
			line-height: 16.52px;
			margin-right: 4px;
		}
	}
	.rightBlock {
		display: flex;
		align-items: center;
		color: $white;
		.link {
			text-align: center;
			color: $white;
			font-size: 14px;
			font-weight: 500;
			line-height: 16.52px;
			margin-right: 4px;
		}
	}
}
