@import './../../../SCSS/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 240px;
}
.input {
  margin-bottom: -15px !important;
  border-radius: 18px;
  width: 413px !important;
  bottom: 18px !important;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: left;
  color: #320064;
  input {
    .ant-form-item-explain-error {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.88px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
