@import './../../SCSS/index.scss';
.questions {
  position: relative;
  padding: 126px 178px 126px 506px;
  width: 100%;
  height: 100%;
  background-color: $bg-color_forth;
}
.title {
  @include title48px-500-secondary;
  margin-bottom: 24px;
}
.accent {
  @include title48px-700-italic-primary;
  color: $main-light;
}
.subTitle {
  @include accentText24-700-italic-primary;
  color: $yellow;
}
.wrapperText {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.text {
  @include mainText24-400-primary;
  margin-right: 10px;
}
.fatCat {
  position: absolute;
  bottom: -7px;
  left: 105px;
}
.decorEl {
  position: absolute;
  bottom: -7px;
  left: 0;
}
.footer {
  display: grid;
  grid-template-rows: 490px 434px 66px;
  width: 100%;
  background-color: $main-dark;
}
.mainFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 137px 173px;
}
.linksContainer {
  display: grid;
  grid-template-rows: 66px auto;
  gap: 40px;
  justify-content: left;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.linksPetsitter,
.linksSitter {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.6px;
  text-align: left;
  color: $white;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: right;
  align-items: end;
}
.phone,
.mail {
  display: flex;
  justify-content: end;
}
.linkMailPhone {
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.77px;
  text-align: left;
  color: $white;
}
.copyright {
  border-top: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.linkCopyright {
  text-decoration: none;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.52px;
  text-align: center;
}
