.header {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	width: 1200px;
	height: 60px;
	.logo {
		width: 120px;
		font-size: 24px;
	}
	.calc {
		font-size: 24px;
	}
	.navigation {
		display: flex;
		justify-content: center;
		width: 600px;
		.list {
			display: flex;
			gap: 20px;
			list-style: none;
			width: 600px;
			.listItem {
				.link {
					text-decoration: none;
					font-size: 24px;
					cursor: pointer;
				}
			}
		}
	}
}
