@import './SCSS/reset.scss';
@import './SCSS/fonts.scss';
@import './SCSS/index.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//font
	font-family: $font-family-primary;
	font-style: $font-style-normal;
	font-weight: 400;
	font-size: 24px;
	line-height: normal;
}
html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
}
// body {
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-tap-highlight-color: transparent;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-secondary;
}