@import 'variables';
@import 'fonts.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//font
	font-family: $font-family-primary;
	font-weight: $font-weight-normal;
	font-style: $font-style-normal;
	font-weight: 400;
	font-size: 24px;
	line-height: normal;
}
html,
body {
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;
	background-color: $bg-color;
	//min-height: 100vh; /* Высота 100% от высоты окна браузера */
	margin: 0; /* Убирает отступы */
	padding: 0; /* Убирает отступы */
	box-sizing: border-box; /* Включает padding и border в размеры элемента */
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent; //убираем дефолтную синюю подсветку
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-secondary;
}
