* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:-webkit-any-link,
a:any-link,
input {
	text-decoration: none;
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
	appearance: none;
	-moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	/* -webkit-text-fill-color: white; */
	-webkit-text-fill-color: #110F14;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px rgb(218, 218, 218); */
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #7d858f5b;
	border-radius: 10px;
}
