/* Custom styles for Message */
.customMessage {
	background-color: #fffae6 !important;
	color: #333333 !important;
	border-radius: 4px !important;
	padding: 10px !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}

/* Custom styles for Tooltip */
.customTooltip {
	background-color: #fffae6 !important;
	color: #333333 !important;
	border-radius: 4px !important;
	padding: 10px !important;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
}